.block{
    background-color:black;
    opacity:.7;
    padding:10px;
    width:50%;
    margin-right: auto;
    margin-left:auto; 
    border-radius: 15%;
    margin-bottom: 10%;

}
.nav-pills{ 
    font-family:'Satisfy';
    font-size: 2.0em;
    background-color: rgb(39, 27, 27);
    margin-bottom: 10%;
  }
  h1{
      margin-top:0px;
      padding:0;
      font-size:5.0em;
  }
  
  body {
    background-color:  rgb(39, 27, 27);
   
  }
  #bootstrap-overrides h1{
      padding:0;
      margin-top: 0px;
      font-size:35.0em;
      font-size:5.0em;
      margin-top: 10%;
  }

  .btn-default{
      background-color: rgb(39, 27, 27);
      border-color: none;
      color:#337ab7;
      font-size:1.7em;
  }
  
  .pageOne{
    background:url("https://images.unsplash.com/photo-1452796907770-ad6cd374b12d?auto=format&fit=crop&w=1055&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
      height: 700px;
      margin-bottom: 10%;
      margin-top:0;
      background-position: center;
  }

  .pageTwo{
      background:url("https://images.unsplash.com/photo-1471189641895-16c58a695bcb?auto=format&fit=crop&w=1201&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
      background-size: cover;
      height: 700px;
      padding-top:5%;
      font-size: 17px;
      color:white;
  }

  .pageThree{
    background:url("https://images.unsplash.com/photo-1483653085484-eb63c9f02547?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3");
    background-size: cover;
    height: 700px; 
    margin-top:8%;
  }
  <!-Dont forget to add Bootsrap from CSS settings!!! --> 